html,
body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0;
    background: rgb(138, 255, 102);
}

#container {
    position: relative;
    margin: auto;
    display: block;
    width: 1200px;
    height: 720px;
    margin-top: 5%;
    background: blue;
}

#first__p_upper {
    position: absolute;
    top: 50%;
    left: 0%;
    height: 200px;
    width: 200px;
    border-radius: 120px 120px 120px 0px;
    background: orange;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}