html,
body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0;
    background: rgb(138, 255, 102);
}

.container {
    position: relative;
    margin: auto;
    display: block;
    margin-top: 8%;
    width: 600px;
    height: 420px;
    background: none;
    border: solid black 8px;
}

#first__p_upper {
    position: absolute;
    top: 50%;
    left: 34%;
    height: 200px;
    width: 200px;
    border-radius: 120px 120px 120px 0px;
    background: orange;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2)
}