html,
body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0;
    background: rgb(71, 158, 199);
}

#container {
    position: relative;
    margin: auto;
    display: block;
    width: 1200px;
    height: 820px;
    margin-top: 8vh;
}


/* LETTER F */

#letter__f_backbone {
    position: absolute;
    height: 40%;
    width: 5%;
    background: grey;
    border-radius: 40px;
}

#letter__f_top_bar {
    position: absolute;
    height: 15%;
    width: 25%;
    background: grey;
    border-radius: 40px;
}

#letter__f_bottom_bar {
    position: absolute;
    top: 17%;
    height: 9%;
    width: 19%;
    background: grey;
    border-radius: 40px;
}


/* LETTER A */
#letter__a_body {
    position: absolute;
    top: 12%;
    left: 25%;
    height: 28%;
    width: 19%;
    background: grey;
    border-radius: 50%;
}

#letter__a_inner_body {
    position: absolute;
    top: 16%;
    left: 29%;
    height: 14%;
    width: 9.5%;
    background: rgb(71, 158, 199);
    border-radius: 50%;
}

#letter__a_backbone {
    position: absolute;
    top: 22%;
    left: 39%;
    height: 18%;
    width: 5%;
    background: grey;
    border-radius: 40px;
}


/* FIRST LETTER L */

#first_letter__l {
    position: absolute;
    top: 0%;
    left: 48%;
    height: 40%;
    width: 5%;
    background: grey;
    border-radius: 40px;
}


/* SECOND LETTER L */

#second_letter__l {
    position: absolute;
    top: 0%;
    left: 58%;
    height: 40%;
    width: 5%;
    background: grey;
    border-radius: 40px;
}