html,
body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0;
    background: rgb(71, 158, 199);
}

#container {
    position: relative;
    margin: auto;
    display: block;
    width: 1200px;
    height: 820px;
    margin-top: 8vh;
}


/* LETTER F */

#letter__f_backbone {
    position: absolute;
    height: 40%;
    width: 5%;
    background: grey;
    border-radius: 40px;
}

#letter__f_top_bar {
    position: absolute;
    height: 15%;
    width: 25%;
    background: grey;
    border-radius: 40px;
}

#letter__f_bottom_bar {
    position: absolute;
    top: 17%;
    height: 9%;
    width: 19%;
    background: grey;
    border-radius: 40px;
}